/*
MODULE NAME : ST0501 : FRONT-END WEB DEVELOPMENT
MODULE LECTURER: MR LIM CHIN MIN
MODULE ASSIGNMENT: CA2 WEBSITE ASSIGNMENT (WITH BOOTSTRAP AND JS)
Student Name: CHEN ZHUOFAN
Student No. : P2100746
Student Class: DAAA/FT/1A/04
Page:About Me (CSS)
Github Commit :https://github.com/zhuofan-16/ST0501_FrontEnd_CA2_Project
*/
#photo{
    width:696px;
    height:500px;
    margin:0;
    padding:0;
    background-color:#e6edff;

}
#photocontainer{
/*Images from https://dribbble.com/nanuo ,Recreated by ZhuoFan*/
    background: url("../aboutmephoto/greeting.jpg") center;
    width:696px;
    height:1000px;
    transform: rotate(180deg);
    animation:spinday 4s ,3s alternate;
    -webkit-animation-fill-mode:forwards;

}
#topcontainer{
    width:696px;
    height:500px;
    overflow: hidden;
    margin:0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding:0;
}

@keyframes spinday { 100% {  transform:rotate(360deg); } }
@keyframes spinnight { 100% {  transform:rotate(180deg); } }

[type=radio] {
    display: none;
}

#slider {
    height: 500px;
    width:480px;
    perspective: 1000px;
    transform-style: preserve-3d;
}

#slider label {
    margin: auto;
    width: 60%;
    height: 100%;
    border-radius: 4px;
    position: absolute;
    left: 0; right: 0;
    cursor: pointer;
    transition: transform 0.4s ease;
}
#s1:checked ~ #slide2,#s2:checked ~ #slide3,#s3:checked~#slide1{
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(-30%,0,-100px);
}
#s1:checked ~ #slide1,#s2:checked ~ #slide2,#s3:checked ~ #slide3{
    box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
    transform: translate3d(0,0,0);
}
#s1:checked ~ #slide3,#s2:checked ~ #slide1,#s3:checked~#slide2{
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(30%,0,-100px);
}

#slide1 { background: url("../aboutmephoto/myphoto1.jpg") }
#slide2 { background:url("../aboutmephoto/myphoto2.jpg") }
#slide3 { background: url("../aboutmephoto/myphoto3.jpg")}

