html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
#search{
    width:30px;
    opacity:70%;
    cursor: pointer;
}
#search:hover{
    opacity: 100%;
}
.navbar .navbar-nav .nav-link:hover {
    color: #000000;
}

.navbar .navbar-nav .nav-link {
    position: relative;
}
.navbar .navbar-nav .nav-link::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: grey;
    color: transparent;
    width: 0;
    content: '';
    height: 3px;
    transition: all 0.5s;
}
.navbar .navbar-nav .nav-link:hover::after {
    width: 100%;
}
#searchbar{
    position:fixed;
    height:100%;
    background-color: rgba(0,0,0,0.1);/*Set background color*/
    backdrop-filter: blur(10px);
    top:80px;
    display:flex;
    left:0;
    justify-content: center;
    z-index:200;
    object-fit: cover;
    visibility: hidden;

}
@keyframes cover { from { opacity: 0;}}
@keyframes fly { from { opacity: 0;top:90%} }
.searchbaranimation{
    animation:cover 1s , 5s alternate;
}

.margintop{
    padding-top:200px;
    padding-bottom:200px ;
}
.grey{
    background-color: rgba(192,192,192,0.3);
}
.mainname{
    position:absolute;
    left:50%;
    text-align: center;
    top:60%;
    color:white;
    transform: translate(-50%, -50%);
    animation: fly 2s , 3s alternate ;/*Add animation */

}
#enlarge{
    font-size:48px;
}

.textfly{
    animation: cover 2s , 3s alternate ;/*Add animation */
}
.textfly{
    animation: fly 2s , 3s alternate ;/*Add animation */
}
@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
}
.cursor{
    animation: blink .6s linear infinite alternate;
}
@keyframes typing { from { width: 0;} }

.greyscale{

    animation:greys 3s ,3s alternate;
}
@keyframes greys {
    from {
        filter:grayscale(100%);
    }
    to {
        filter:grayscale(0%);
    }
}
#searchtable tr th a{
    text-decoration: none;
    color:black;
}
.profilepicsizing{
    height:30px;
}
.searchbarcss{
    position:relative;
    top:30%;
    :500px;
    height:60px;
    outline:none;
    font-size: 40px;
    border:1px solid grey;
    border-radius:5px;
}
.arrowdown{
    height:50px;
    cursor:pointer;
    filter:invert(100%);
}
.typingcolor{
    color:royalblue;
}
.forestgren{
    color:forestgreen;
}
.carouselsetting{
    width:807px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.redcolor{
    color:red;

}
.slategry{
  color:slategray;
}
.cardsstyle{
    width: 20rem;
    height: 25rem;
}
.cardimagestyle{
    height:50px;
}
.yellowcolor{
    color:#feb236;
}
.darkcyn{
    color:darkcyan;
}
.githubimg{
    height:240px;
}
.springgreen{
    color:springgreen;
}
.cornflowerblue{
    color:cornflowerblue;
}
.purplecolor{
    color:#6b5b95;
}
.pinkred{
    color:#c94c4c;
}
.golden{
    color:goldenrod;
}
.zindex99{
    z-index: 99;
}
.toastprofile{
    width:25px;
}
.testimonial{
    height:50%;
}
.slateblue{
    color:slateblue;
}
.brown{
    color:brown;
}
.darkcyan{
    color:darkcyan;
}
.fontsize12{
    font-size:12px;
}
.fontsize14{
    font-size:14px;
}
.orangered{
    color:orangered;
}
.photoeffectabout{
    height:500px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.royalblue{
    color:royalblue;
}
.searchfeature{
    position:relative;top:30%;
}
.searchtable{
    border-collapse: separate;display:none;
}
.square{
    height:50px;cursor:pointer;

}
.contactbox{
    border:0;box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.mediumgreen{
    color:mediumseagreen;
}
.height400{
 height:400px;
}