/*
MODULE NAME : ST0501 : FRONT-END WEB DEVELOPMENT
MODULE LECTURER: MR LIM CHIN MIN
MODULE ASSIGNMENT: CA2 WEBSITE ASSIGNMENT (WITH BOOTSTRAP AND JS)
Student Name: CHEN ZHUOFAN
Student No. : P2100746
Student Class: DAAA/FT/1A/04
Page:Future Prospect (CSS)
Github Commit :https://github.com/zhuofan-16/ST0501_FrontEnd_CA2_Project
*/
#rocket{
    display:flex;
    justify-content: center;
    align-items: center;
    border:1px solid grey;
    height:500px;width:696px;
    background:rgba(0, 0, 0, 0.9);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;"
}
#innerrocket{
    position:absolute;
    animation:updown 0.2s linear infinite;
}
@keyframes updown {
    from {
        transform: translateY(-2px);
    }
    to{
        transform: translateY(2px);
    }

}
#line{
    position:relative;
    background:linear-gradient(dodgerblue,transparent);
    width:10px;
    left:50%;
    transform: translateX(-50%);
    height:70px;
    top:-20px;
}
.rocket j{
    width:1px;
    height:5px;
    position:relative;
    top:0;
    animation: line 2s linear infinite;
    background-color:white;
}
@keyframes line{
    from {
    transformY(0);
    }
    to {
        transform:translateY(45vh);
    }
}
#daaaphoto{
    width:500px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;"
}
#card1,#card2{
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}
#card1:hover,#card2:hover{
    transform: rotateY(180deg);
    width: 100%;
    height: 100%;
}
#card1backside,#card1font,#card2backside,#card2font{
    position: absolute;
    backface-visibility: hidden;
}
#card1backside,#card2backside{
    transform: rotateY(180deg);
    background-color: white;
    width:100%;
    height:100%;
}
.catt{
    perspective: 1000px;
}
.aligncard{
    top:10%;
    position:relative;
}
.width50{
    width:50px;
}
.cloudsvg{
    height:300px;
}

