
.mainvideo{
    display:flex;
    position: relative;
    justify-content: center;
    left:0;
    margin-top:72px;
    background:url("../cover/345130BA4005005CD21565A281ABE8CE.jpg");
    background-size:cover;
    width: 1980px;
    height: 900px;
}

[type=radio] {
    display: none;
}

#slider {
    height: 500px;
    width:480px;
    perspective: 1000px;
    transform-style: preserve-3d;
}

#slider label {
    margin: auto;
    width: 60%;
    height: 100%;
    border-radius: 4px;
    position: absolute;
    left: 0; right: 0;
    cursor: pointer;
    transition: transform 0.4s ease;
}
#s1:checked ~ #slide2,#s2:checked ~ #slide3,#s3:checked~#slide1{
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(-30%,0,-100px);
}
#s1:checked ~ #slide1,#s2:checked ~ #slide2,#s3:checked ~ #slide3{
    box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
    transform: translate3d(0,0,0);
}
#s1:checked ~ #slide3,#s2:checked ~ #slide1,#s3:checked~#slide2{
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(30%,0,-100px);
}

#slide1 { background: url("../aboutmephoto/me1.jpg") }
#slide2 { background:url("../aboutmephoto/me2.jpg") }
#slide3 { background: url("../aboutmephoto/me3.jpg")}


#card1,#card2,#card3,#card4{
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}
#card1:hover,#card2:hover,#card3:hover,#card4:hover{
    transform: rotateY(180deg);
    width: 100%;
    height: 100%;
}
#card1backside,#card1font,#card2backside,#card2font,#card3backside,#card3font,#card4backside,#card4font{
    position: absolute;
    backface-visibility: hidden;
}
#card1backside,#card2backside,#card3backside,#card4backside{
    transform: rotateY(180deg);
    background-color: white;
    width:100%;
    height:100%;
}
.catt{
    perspective: 1000px;
}
.aligncard{
    top:10%;
    position:relative;
}
.singaporepoly{
    width: 507px;
    background: url("../spphoto/Webp.net-resizeimage (1).jpg");
    height: 380px;


}
.new{
    background: url("../spphoto/Webp.net-resizeimage.jpg");
    width: 537px;
    height: 400px;
    transition: all 0.8s;
    transition-delay: 0.5s;

}
