/*
MODULE NAME : ST0501 : FRONT-END WEB DEVELOPMENT
MODULE LECTURER: MR LIM CHIN MIN
MODULE ASSIGNMENT: CA2 WEBSITE ASSIGNMENT (WITH BOOTSTRAP AND JS)
Student Name: CHEN ZHUOFAN
Student No. : P2100746
Student Class: DAAA/FT/1A/04
Page:Secondary School Experience (CSS)
Github Commit :https://github.com/zhuofan-16/ST0501_FrontEnd_CA2_Project
*/
.carousel{
    height:60%;
}
.textfly1{
    animation: cover 2s , 3s alternate ;/*Add animation */
}


[type=radio] {
    display: none;
}

#slider {
    height: 500px;
    width:480px;
    perspective: 1000px;
    transform-style: preserve-3d;
}

#slider label {
    margin: auto;
    width: 60%;
    height: 100%;
    border-radius: 4px;
    position: absolute;
    left: 0; right: 0;
    cursor: pointer;
    transition: transform 0.4s ease;
}
#s1:checked ~ #slide2,#s2:checked ~ #slide3,#s3:checked~#slide1{
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(-30%,0,-100px);
}
#s1:checked ~ #slide1,#s2:checked ~ #slide2,#s3:checked ~ #slide3{
    box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
    transform: translate3d(0,0,0);
}
#s1:checked ~ #slide3,#s2:checked ~ #slide1,#s3:checked~#slide2{
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(30%,0,-100px);
}

#slide1 { background: url("../secondaryschoolphoto/friendscarousel/friendsphoto1.jpg") }
#slide2 { background:url("../secondaryschoolphoto/friendscarousel/friendsphoto2.jpg") }
#slide3 { background: url("../secondaryschoolphoto/friendscarousel/friendsphoto3.jpg")}
.slidecarousell{
    width:804px;box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.carouselphotosize{
    height:500px;
}
.dunearnlogo{
    height:300px;
}
.academiccap{
    height:300px;
}