/*
MODULE NAME : ST0501 : FRONT-END WEB DEVELOPMENT
MODULE LECTURER: MR LIM CHIN MIN
MODULE ASSIGNMENT: CA2 WEBSITE ASSIGNMENT (WITH BOOTSTRAP AND JS)
Student Name: CHEN ZHUOFAN
Student No. : P2100746
Student Class: DAAA/FT/1A/04
Page:Singapore Polytechnic Experience (CSS)
Github Commit :https://github.com/zhuofan-16/ST0501_FrontEnd_CA2_Project
*/
#daaaimg{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;"
}
.singaporepoly{
    width: 507px;
    /*Image from SIngapore Polytechnic Website ,https://www.sp.edu.sg/sp/about-sp/facilities/teaching*/
    background: url("../spphoto/classroom.jpg");
    height: 380px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;"

}
.daaacoverphoto{
    width:696px;
    height:500px;
}
.spcarouselphoto1{
    width:500px;height:400px;box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.spcarouselphoto{
    height:400px;
}
.studysvg{
    height:300px;
}
.foodsvg{
     height:300px;
 }
.splogo{
    position:relative;
    top:50px;
}
